body{background-color: #e7e7e7;}
*{font-family: "Microsoft YaHei"}
#avatar {
	WIDTH: 300px; FLOAT: left; HEIGHT: 255px
}
#message {
	WIDTH: 700px; FLOAT: right; HEIGHT: 255px
}
#sinfo {
	PADDING-BOTTOM: 10px; HEIGHT: 100px;
	margin-top:20px;
	padding-left:10px;
}
#sinfo a{
	display: inline-block;margin-top:10px;
}
.row{
	margin-top:20px;
}
a{
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	cursor:pointer;
}
a:active {
	text-decoration: none;
}
a.externallink
{
	background-image: url(ExternalLink.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 14px;
}
.member_li1 {
	 COLOR: #0000cc; FONT-SIZE: 18px; TEXT-DECORATION: none
}
.member_li1:hover {
	TEXT-ALIGN: center;  COLOR: #ee7e1f; FONT-SIZE: 18px;
}
.member_li22 {
	BORDER-BOTTOM-STYLE: none; LIST-STYLE-TYPE: disc;  COLOR: #333333; FONT-SIZE: 18px
}
.sp {
	 FONT-SIZE: 18px
}
.title {
	MARGIN: 0px auto; WIDTH: 1024px;  COLOR: #0000ff; FONT-SIZE: 20px; FONT-WEIGHT: bold
}
.title1{
	background-color: #fff;border:2px solid #ccc;border-radius: 10px;font-size: 18px;color:#000;padding:12px;font-weight: bold;margin-top:20px;
}
.title1 a{color:#000;}
.line {
	  	margin-top: 23px;
    	font-size: 14px;
}
.midtxt,.midtxtt {
	MARGIN: 10px auto; WIDTH: 90%; COLOR: #000; FONT-SIZE: 18px;text-align: justify;
}
.hr {
	size: auto; align: "center"
}
.div1,.div2,.div5{width:18%;float: left;text-align: center}
.div3{width:25%;float:left;text-align: center}
.div4{width:21%;float:left;text-align: center}
.title_h1{
	display: inline-block;
	padding:20px;
	border-radius: 10px;
	background-color: #fff;
	border:2px solid #ccc;
	font-size: 77px;
	font-weight: bold;
	margin-top:0;
}
.title_h1:first-letter{letter-spacing: 20px}
.title_h2{padding-left:10px}
.container{position: relative;z-index: 20;margin-bottom: 50px}
.particles-js-canvas-el{position:absolute;top:0;z-index: 10}
#canvas1{position: absolute;top:20px;left:40%;}
.goup-text{font-size: 14px !important}
.div1,.div2,.div3,.div4,.div5{color:#fff !important;}
.div1 a:hover,.div2 a:hover,.div3 a:hover,.div4  a:hover,.div5 a:hover{color:#000 !important;}
.bumpy-char {
    line-height: 3.4em;
    position: relative;
}